@page "/Account/Login"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using tara_tool.Data.Tables

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Log in</PageTitle>

<div class="center">
    <FluentCard Width="400px">
        <div class="center">
            <StatusMessage Message="@errorMessage" />
        </div>
        <EditForm Model="Input" method="post" OnValidSubmit="LoginUser" FormName="login">
            <DataAnnotationsValidator />
            <FluentValidationSummary class="text-danger" role="alert" />
            <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center">
                <h1>TARA Tool</h1>
                <FluentStack Orientation="Orientation.Vertical" VerticalGap="-50" HorizontalAlignment="HorizontalAlignment.Center">
                    <h5>Threat Analysis & Risk Assessment</h5>
                    <h5>ISO/SAE 21434</h5>
                </FluentStack>
                <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center" Width="80%">
                    <div style="width: 100%;">
                        <FluentTextField Name="Input.Email" TextFieldType="TextFieldType.Email" @bind-Value=email Label="Email" Placeholder="example@thi.de" Required="true" style="width: 100%;"></FluentTextField>
                        <FluentValidationMessage For="() => Input.Email" class="text-danger" />
                    </div>
                    <div style="width: 100%;">
                        <FluentTextField Name="Input.Password" TextFieldType="TextFieldType.Password" @bind-Value=password Label="Password" Placeholder="*******" Required="true" style="width: 100%;"></FluentTextField>
                        <FluentValidationMessage For="() => Input.Password" class="text-danger" />
                    </div>
                    <br />
                    <p>Forgot your password?
                        <FluentAnchor Href="Account/ForgotPassword" Appearance="Appearance.Hypertext">Reset Password</FluentAnchor>
                    </p>
                    <FluentStack>
                        <FluentCheckbox Name="Input.RememberMe" @bind-Value="Input.RememberMe" Label="Remember me" />
                    </FluentStack>
                    <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent" style="width: 100%;">Login</FluentButton>
                    <p>Don't have an account yet?
                        <FluentAnchor Href="@(NavigationManager.GetUriWithQueryParameters("Account/Register", new Dictionary<string, object?> { ["ReturnUrl"] = ReturnUrl }))" Appearance="Appearance.Hypertext">Register here</FluentAnchor>
                    </p>
                </FluentStack>
            </FluentStack>
        </EditForm>
    </FluentCard>
</div>


@code {
    private string? email;
    private string? password;
    private string? errorMessage;
    private EditContext editContext = default!;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Input ??= new();

        editContext = new EditContext(Input);

        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            // Clear the existing external cookie to ensure a clean login process
            await HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);
        }
    }

    public async Task LoginUser()
    {
        SignInResult result;

        // If doing a password sign-in, validate the form.
        if (!editContext.Validate())
        {
            return;
        }

        // This doesn't count login failures towards account lockout
        // To enable password failures to trigger account lockout, set lockoutOnFailure: true
        result = await SignInManager.PasswordSignInAsync(Input.Email, Input.Password, Input.RememberMe, lockoutOnFailure: true);

        if (result.Succeeded)
        {
            Logger.LogInformation("User logged in.");
            RedirectManager.RedirectTo(ReturnUrl);
        }
        else if (result.RequiresTwoFactor)
        {
            RedirectManager.RedirectTo(
                "Account/LoginWith2fa",
                new() { ["returnUrl"] = ReturnUrl, ["rememberMe"] = Input.RememberMe });
        }
        else if (result.IsLockedOut)
        {
            Logger.LogWarning("User account locked out.");
            RedirectManager.RedirectTo("Account/Lockout");
        }
        else if (result.IsNotAllowed)
        {
            errorMessage = "Error: Sign-in is not allowed for this account yet.";
        }
        else
        {
            errorMessage = "Error: Login failed. Wrong credentials.";
        }
    }

    private sealed class InputModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = "";

        [Required]
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";

        [Display(Name = "Remember me?")]
        public bool RememberMe { get; set; }
    }
}
