@page "/Account/Register"

@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using tara_tool.Data
@using tara_tool.Data.Tables


@inject ApplicationUserService ApplicationUserService
@inject PendingRegistrationService PendingRegistration
@inject UserManager<ApplicationUser> UserManager
@inject IUserStore<ApplicationUser> UserStore
@inject SignInManager<ApplicationUser> SignInManager
@inject ILogger<Register> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Register</PageTitle>

<h1>Register</h1>

@*Needs to be removed at a later time!*@
<h1 style="color: red;">MAKE ADMIN TOGGLE HAS NOT BEEN REMOVED!</h1>

<FluentGrid>
    <FluentGridItem xs="12" sm="4">
        <StatusMessage Message="@errorMessage" />
        <EditForm Model="Input" asp-route-returnUrl="@ReturnUrl" method="post" OnValidSubmit="RegisterUser" FormName="register">
            <DataAnnotationsValidator />
            <h3>Create a new Account</h3>
            <hr />
            <FluentStack Orientation="Orientation.Vertical">
                <FluentTextField Name="Input.Email" @bind-Value="Input.Email" AutoComplete="email" Required="true" Placeholder="example@thi.de" Label="Email" Style="width: 100%" />
                <FluentValidationMessage For="() => Input.Email" class="text-danger" />

                <FluentTextField Name="Input.Username" @bind-Value="Input.Username" Label="Username" Placeholder="John Doe" Required="true" Style="width: 100%;"></FluentTextField>
                <FluentValidationMessage For="() => Input.Username" class="text-danger" />

                <FluentTextField Name="Input.Organization" @bind-Value="Input.Organization" Label="Organization" Placeholder="University of Applied Sciences Ingolstadt" Required="false" Style="width: 100%;"></FluentTextField>
                <FluentValidationMessage For="() => Input.Organization" class="text-danger" />

                <FluentTextField type="password" Name="Input.Password" @bind-Value="Input.Password" Label="Password" Placeholder="*******" Required="true" Style="width: 100%" />
                <FluentValidationMessage For="() => Input.Password" class="text-danger" />

                <FluentTextField type="password" Name="Input.ConfirmPassword" @bind-Value="Input.ConfirmPassword" Label="Confirm Password" Placeholder="*******" Required="true" Style="width: 100%" />
                <FluentValidationMessage For="() => Input.ConfirmPassword" class="text-danger" />

                @*Needs to be removed at a later time!*@
                <FluentCheckbox Name="Input.MakeAdmin" @bind-Value="Input.MakeAdmin" Label="MAKE ADMIN" Disabled="firstUser"/>

                <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent" Style="width: 100%" >Register</FluentButton>
            </FluentStack>
        </EditForm>
    </FluentGridItem>
</FluentGrid>

@code {
    [SupplyParameterFromQuery(Name = "id")]
    public string? id { get; set; }

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    private bool firstUser { get; set; } = false;

    private string? errorMessage;

    // Needs to be removed at a later time!
    protected override void OnInitialized()
    {
        firstUser = !UserManager.Users.Any();
        Input ??= new() { MakeAdmin = firstUser };
    }

    public async Task RegisterUser(EditContext editContext)
    {
        if (@id == null)
        {
            errorMessage = "Error: You are not priviledged to register for this project without an invitation.";
            return;
        }

        ApplicationUser? user = CreateUser();

        bool initialUser = !UserManager.Users.Any();

        List<PendingRegistration> pendingRegistrations = await PendingRegistration.GetAllPendingRegistrations();
        int NumberOfPendingRegistrations = pendingRegistrations.Count();


         if (!await PendingRegistration.Check(Input.Email, @id, initialUser))
         {
             errorMessage = "Error: The email address does not match the invitation. Please use the email address the invitation was sent to.";
             return;
         }
            
        if (initialUser && (NumberOfPendingRegistrations == 1))
        {
             await UserManager.AddToRoleAsync(user, "Admin");
        } 

        if (await ApplicationUserService.CheckEmailDuplicate(Input.Email))
        {
            errorMessage = "Error: The email address is already taken.";
            return;
        }


        if (await ApplicationUserService.CheckNameOfUserDuplicate(Input.Username))
        {
            errorMessage = "Error: The username is already taken.";
            return;
        }

        await UserStore.SetUserNameAsync(user, Input.Email, CancellationToken.None);
        IUserEmailStore<ApplicationUser>? emailStore = GetEmailStore();
        await emailStore.SetEmailAsync(user, Input.Email, CancellationToken.None);
        IdentityResult? result = await UserManager.CreateAsync(user, Input.Password);
        user.Organization = Input.Organization;
        await UserManager.UpdateAsync(user);
        user.NameOfUser = Input.Username;
        await UserManager.UpdateAsync(user);

        // Needs to be removed at a later time!
        if (Input.MakeAdmin)
            await UserManager.AddToRoleAsync(user, "Admin");

        HttpContext.Response.Cookies.Append
        (
            IdentityRedirectManager.StatusCookieName,
            "Successfully Registered.\nPlease log in using your new credentials."
        );

        Logger.LogInformation("User created a new account with password.");

        await PendingRegistration.Delete(@id);

        RedirectManager.RedirectTo(
                 "Account/Login");
    }

    private ApplicationUser CreateUser()
    {
        try
        {
            return Activator.CreateInstance<ApplicationUser>();
        }
        catch
        {
            throw new InvalidOperationException($"Can't create an instance of '{nameof(ApplicationUser)}'. " +
                $"Ensure that '{nameof(ApplicationUser)}' is not an abstract class and has a parameterless constructor.");
        }
    }

    private IUserEmailStore<ApplicationUser> GetEmailStore()
    {
        if (!UserManager.SupportsUserEmail)
        {
            throw new NotSupportedException("The default UI requires a user store with email support.");
        }
        return (IUserEmailStore<ApplicationUser>)UserStore;
    }

    private sealed class InputModel
    {
        [Required]
        [EmailAddress]
        [Display(Name = "Email")]
        public string Email { get; set; } = "";

        [Required]
        [StringLength(100)]
        [Display(Name = "Username")]
        public string Username { get; set; } = "";

        [StringLength(100)]
        [Display(Name = "Organization")]
        public string Organization { get; set; } = "";

        [Required]
        [StringLength(100, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 6)]
        [DataType(DataType.Password)]
        [Display(Name = "Password")]
        public string Password { get; set; } = "";

        [DataType(DataType.Password)]
        [Display(Name = "Confirm password")]
        [Compare("Password", ErrorMessage = "The password and confirmation password do not match.")]
        public string ConfirmPassword { get; set; } = "";

        //ToDo: Needs to be removed at a later time!
        [Display(Name = "Make Admin")]
        public bool MakeAdmin { get; set; }
    }
}
