@page "/Account/Manage/DeletePersonalData"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using tara_tool.Data
@using tara_tool.Data.Tables

@inject UserManager<ApplicationUser> UserManager
@inject SessionService SessionService
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityRedirectManager RedirectManager
@inject ILogger<DeletePersonalData> Logger

<PageTitle>Delete Personal Data</PageTitle>

<StatusMessage Message="@message" />

<h3>Delete Personal Data</h3>

<FluentGrid>
    <FluentGridItem sm="6">
        <div class="alert alert-warning" role="alert">

            <strong class="text-danger" >Deleting this data will permanently remove your account, <u>including projects you own</u> and you will not be able to recover them.</strong>

        </div>
        <EditForm Model="Input" FormName="delete-user" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator />
            <FluentValidationSummary class="text-danger" role="alert" />

            <p>
                If you’d like to transfer your projects to another user without deleting them, please enter their email address below.
            </p>

            <FluentTextField type="email" Name="Input.TransferEmail" @bind-Value="Input.TransferEmail" Required="false"
                             Placeholder="Transfer projects to…" Label="Project transfer recipient" Class="fullwidth"/>

            @if (requirePassword)
            {
                <FluentTextField type="password" Name="Input.Password" @bind-Value="Input.Password"
                                 AutoComplete="new-password" Required="true" Placeholder="Please enter your password." Label="Password"
                                 Style="width: 100%" />
                <FluentValidationMessage For="() => Input.Password" class="text-danger" />
            }
            <p style="margin-top: 10px; text-align: end;">
                <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent">Delete data and close my account
                </FluentButton>
            </p>
        </EditForm>
    </FluentGridItem>
</FluentGrid>
@code {
    private string? message;
    private ApplicationUser? user;
    private bool requirePassword;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        Input ??= new();

        user = await UserManager.GetUserAsync(HttpContext.User);
        if (user is null)
        {
            RedirectManager.RedirectToInvalidUser(UserManager, HttpContext);
            return;
        }
        requirePassword = await UserManager.HasPasswordAsync(user);
    }

    private async Task OnValidSubmitAsync()
    {
        if (user is null)
        {
            RedirectManager.RedirectToInvalidUser(UserManager, HttpContext);
            return;
        }

        if (requirePassword && !await UserManager.CheckPasswordAsync(user, Input.Password))
        {
            message = "Error: Incorrect password.";
            return;
        }

        IList<ApplicationUser> admins = await UserManager.GetUsersInRoleAsync("Admin");
        if (admins is { Count: <= 1 } && admins.First().Id == user.Id)
        {
            message = "Error: You cannot delete your account, as you are the last administrator of this instance. Please designate at least one other administrator before deleting your account.";
            return;
        }

        ApplicationUser? transferRecipient = null;

        if (!string.IsNullOrWhiteSpace(Input.TransferEmail))
        {
            transferRecipient = await UserManager.FindByEmailAsync(Input.TransferEmail);

            if (transferRecipient is not ApplicationUser)
            {
                message = "Error: The user you tried to transfer your projects to does not exist.";
                return;
            }
        }

        IdentityResult result = await UserManager.DeleteUserAndProjectsAsync(user, transferRecipient);
        if (!result.Succeeded)
        {
            message = "Error: Unexpected error occurred deleting user.";
            return;
        }

        await SignInManager.SignOutAsync();

        var userId = await UserManager.GetUserIdAsync(user);
        Logger.LogInformation("User with ID '{UserId}' deleted themselves.", userId);

        RedirectManager.RedirectToCurrentPage();
    }

    private sealed class InputModel
    {
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";

        [DataType(DataType.EmailAddress)]
        public string TransferEmail { get; set; } = "";
    }
}
