@page "/Account/Manage/PasskeysDisabled"

@using tara_tool.Data
@using Microsoft.AspNetCore.Identity
@using System.ComponentModel.DataAnnotations
@using System.Buffers.Text

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Passkeys Disabled</PageTitle>

<header>
    <h3 class="text-danger">Passkeys Disabled</h3>
    <p class="text-danger">Passkeys are disabled for the time being.</p>
</header>
