@page "/About"
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@rendermode InteractiveServer

<PageTitle>
    About THIARA
</PageTitle>

<h1>
    About THIARA
</h1>

<p>
    THIARA was created by students of the Technical University of Applied Sciences Ingolstadt (THI).
</p>

<FluentStack>
    <FluentButton IconStart="@(new Icons.Regular.Size20.Branch())" OnClick="@RedirectToGithub">
        GitHub Repository
    </FluentButton>

    <FluentButton IconStart="@(new Icons.Regular.Size20.Scales())" OnClick="@RedirectToLicence">Licence</FluentButton>
</FluentStack>

@code {
    private void RedirectToGithub() => JSRuntime.InvokeVoidAsync("open", "https://www.github.com/tara-tool-thi/tara-tool",
    "_blank");
    private void RedirectToLicence() =>
    JSRuntime.InvokeVoidAsync("open", "https://github.com/tara-tool-thi/tara-tool/tree/main?tab=AGPL-3.0-1-ov-file",
    "_blank");
}
