@page "/Projects"
@inject NavigationManager Navigator
@inject UserManager<ApplicationUser> UserManager


@attribute [Authorize]

<PageTitle>Projects</PageTitle>


<AuthorizeView>
  <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Stretch" HorizontalAlignment="HorizontalAlignment.SpaceBetween">
    <h4><b style="text-align: center;">My Projects</b></h4>
    <FluentButton @onclick=@(() => Navigator.NavigateTo(Navigator.BaseUri + "/Project/-1"))>
      + New Project
    </FluentButton>
  </FluentStack>
<p class="tiny-text">Select a project to continue</p>
</AuthorizeView>

@if(user != null) {
  <ProjectsList User=@user/>
}


@code {

  [CascadingParameter]
  private HttpContext HttpContext {get; set;} = default!;
  

  ApplicationUser? user {get; set;}
  
  protected override async Task OnInitializedAsync()
  {
    
    user = await UserManager.GetUserAsync(HttpContext.User);
    if (user == null)
    {
      return;
    }
        
   }
}

