@inject ProjectService projectService
@inject AuthenticationStateProvider AuthState

 <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Stretch" HorizontalAlignment="HorizontalAlignment.SpaceBetween">
    <FluentSearch  Placeholder="Type to search for title..." Style="width: 25%;" @bind-Value=@TitleSearch />
    <FluentAutocomplete TOption="string"  Placeholder="Type to search for owner..." OnOptionsSearch="@OnSearchAsync" OptionText="@(item => item)" Style="width: 25%;" @bind-SelectedOptions="@selectedMails"/>
  </FluentStack>

@if(allProjectsWithAccess.Count() != 0) {
  <div @key=@TitleSearch>
    @foreach(var project in allProjectsWithAccess.Where(a => (TitleSearch == null || a.ProjectName.Contains(TitleSearch)) && (selectedMails.Count() == 0 || selectedMails.Contains(a.Access.FirstOrDefault(a => a.Owner == true)?.Member.Email)))) {
      <ProjectCard Project=@project/>
    }
  </div>
}

@code {

  
  [Parameter]
  required public ApplicationUser? User {get; set;}
  List<Project> allProjectsWithAccess = new();
  List<string> allEmails  = new();
  IEnumerable<string> selectedMails = Array.Empty<string>();

  private string? _titleSearchBack = null;
  private string? TitleSearch
  {
    get => _titleSearchBack;
    set
    {
      if (string.IsNullOrWhiteSpace(value))
      {
        _titleSearchBack = null;
      } 
      else {
        _titleSearchBack = value;
      }
    }
  }


  protected override async Task OnInitializedAsync()
  {
    allProjectsWithAccess = await projectService.GetProjectsAsync(User!.Id, (value) => value.Include(a =>
    a.Access).ThenInclude(a => a.Member).AsQueryable());
    allEmails = allProjectsWithAccess.SelectMany(a => a.Access).Where(a => a.Owner == true).Select(a => a.Member).Where(m => m.Email != null).Select(m => m.Email!).ToList();
  }

   private async Task OnSearchAsync(OptionsSearchEventArgs<string> e) {
      e.Items = allEmails.Where(s => s.Contains(e.Text ,StringComparison.OrdinalIgnoreCase)).OrderBy(s => s);
   }
}

