@page "/UserManagement"
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authorization
@using System.Security.Cryptography.Pkcs
@using tara_tool.Components.Dialogs
@rendermode InteractiveServer

@inject IDialogService DialogService

@attribute [Authorize]

<PageTitle>User Management</PageTitle>

<h1>User Management</h1>

<FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Stretch"
        HorizontalAlignment="HorizontalAlignment.SpaceBetween">
    <FluentSearch Placeholder="Type to search for user..." Style="Width: 25%" @bind-Value=@UserSearch />
    <FluentButton OnClick="OpenDialog" IconStart=@(new Icons.Regular.Size20.Add())>
      New User
    </FluentButton>

</FluentStack>


@code {
    private string? UserSearch;

    private string? email = "";


   private async Task OpenDialog()
    {
        IDialogReference dialog = await this.DialogService.ShowDialogAsync<Dialogs.InviteUser>(new DialogParameters { });
        DialogResult? result = await dialog.Result;
        email = (string?)result?.Data;
        @* await DialogService.ShowSuccessAsync($"Email sent to: {Input.Email}", "Success"); *@
    }

    @* public async Task createLink()
    {
        await DialogService.ShowSuccessAsync($"Email sent to: {Input.Email}", "Success");
    } *@

}
