@page "/UserManagement"
@using Microsoft.AspNetCore.Authorization
@using System.Security.Cryptography.Pkcs
@rendermode InteractiveServer

@inject IDialogService _dialogService

@attribute [Authorize]

<PageTitle>User Management</PageTitle>

<h1>User Management</h1>

<FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Stretch"
        HorizontalAlignment="HorizontalAlignment.SpaceBetween">
    <FluentSearch Placeholder="Type to search for user..." Style="Width: 25%" @bind-Value=@UserSearch />
    <FluentButton OnClick="OpenDialog">
      + New User
    </FluentButton>
</FluentStack>


@code {
    private string? UserSearch;
    string? email { get; set; } = "";
    private async Task OpenDialog()
    {
        IDialogReference dialogInstance = await _dialogService.ShowDialogAsync(@<div>
        <FluentTextField @bind-Value=email Label="Enter email address:" />
        <FluentValidationMessage For="() => email" class="text-danger" />
    </div>
    , new DialogParameters
    {
        Title = "Invite new user",
    });

        DialogResult result = await dialogInstance.Result;
        if (!result.Cancelled)
        {
            await _dialogService.ShowSuccessAsync($"Email sent to: {email}", "Success");
        }
    }
}
