@page "/UserManagement"
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authorization
@using System.Security.Cryptography.Pkcs
@using System.Security.Cryptography
@using Microsoft.EntityFrameworkCore.Storage.ValueConversion
@using tara_tool.Components.Dialogs
@rendermode InteractiveServer

@inject IDialogService DialogService
@inject NavigationManager NavigationManager
@inject PendingRegistrationService PendingRegistrationService

@attribute [Authorize]

<PageTitle>User Management</PageTitle>

<h1>User Management</h1>

<FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Stretch"
        HorizontalAlignment="HorizontalAlignment.SpaceBetween">
    <FluentSearch Placeholder="Type to search for user..." Style="Width: 25%" @bind-Value=@UserSearch />
    <FluentButton OnClick="OpenDialog" IconStart=@(new Icons.Regular.Size20.Add())>
      New User
    </FluentButton>

</FluentStack>

<div>
    <FluentDialog @ref="copyLink" @bind-Hidden="@Hidden" @ondialogdismiss=CloseCopyLink>
        <FluentDialogHeader Visible="false" />
        <p>This is the register link for the new user: </p>
        <p>@link</p>
        <p>Please don't share this link with anyone except the user you want to invite. You can manage the users and pending registrations on this page.</p>
    </FluentDialog>
</div>


@code {
    private string? UserSearch;

    private string? email = "";

    private string? link;

    private FluentDialog? copyLink;
    private bool Hidden { get; set; } = true;


   private async Task OpenDialog()
    {
        IDialogReference dialog = await this.DialogService.ShowDialogAsync<Dialogs.InviteUser>(new DialogParameters { });
        DialogResult? result = await dialog.Result;
        email = (string?)result?.Data;
        if(email == null)
            return;
        string? id = await PendingRegistrationService.Create(email);
        link = NavigationManager.BaseUri + "/Account/Register?id=" + id;
        await DialogService.CloseAsync(dialog);
        copyLink!.Show();
    }

    private void CloseCopyLink()
    {
        copyLink!.Hide();
    }

}
