@if (!string.IsNullOrEmpty(DisplayMessage))
{
    var statusMessageClass = DisplayMessage.StartsWith("Error") ? "danger" : "success";
    <div class="alert alert-@statusMessageClass" role="alert">
        @if (Message is not null and not "")
        {
            @DisplayMessage
        }
        else if (messages is { Length: > 0 })
        {
            @messages[0]
            @foreach (string message in messages[1..])
            {
                <br/>
                @message
            }
        }
    </div>
}

@code {
    private string[] messages = [];

    private string? messageFromCookie;

    [Parameter]
    public string? Message { get; set; }

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private string? DisplayMessage => Message ?? messageFromCookie;

    protected override void OnInitialized()
    {
        messageFromCookie = HttpContext.Request.Cookies[IdentityRedirectManager.StatusCookieName];

        if (messageFromCookie is not null)
        {
            HttpContext.Response.Cookies.Delete(IdentityRedirectManager.StatusCookieName);
            messages = messageFromCookie.Split((string[])["\n", "\r", "\r\n"], StringSplitOptions.RemoveEmptyEntries);
        }

    }
}
