@page "/"

@rendermode InteractiveServer
@inject NavigationManager Navigator
@inject UserManager<ApplicationUser> UserManager
@inject ProjectService ProjectService


@attribute [Authorize]

<PageTitle>Projects</PageTitle>



<FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Stretch"
             HorizontalAlignment="HorizontalAlignment.SpaceBetween">
    <h1><b style="text-align: center;">My Projects</b></h1>
    <FluentButton OnClick="CreateNewProject" IconStart=@(new Icons.Regular.Size20.Add())>
        New Project
    </FluentButton>
</FluentStack>
<p class="tiny-text">Select a project to continue</p>

<ProjectsList />

@code {
    private async Task CreateNewProject()
    {
        Project? newProject = await ProjectService.CreateNewProjectAsync("New unnamed Project");

        if (newProject is not null)
        {
            Navigator.NavigateTo($"/Project/{newProject.Id}");
        }
    }
}

