@page "/"

@rendermode InteractiveServer
@inject NavigationManager Navigator
@inject UserManager<ApplicationUser> UserManager
@inject ProjectService ProjectService
@inject IDialogService DialogService
@inject SessionService SessionService
@inject ApplicationUserService ApplicationUserService




@attribute [Authorize]

<PageTitle>Projects</PageTitle>


<FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Stretch"
             HorizontalAlignment="HorizontalAlignment.SpaceBetween">
    <h1><b style="text-align: center;">My Projects</b></h1>
    <FluentButton OnClick="CreateNewProject" IconStart=@(new Icons.Regular.Size20.Add())>
        New Project
    </FluentButton>
</FluentStack>
<p class="tiny-text">Select a project to continue</p>

<ProjectsList />

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender) {
            if(CheckResetPassword().Result == true){
                await OpenDialogChangePassword();
                ApplicationUser? currentUser = await GetCurrentUser();
                if (currentUser != null){
                    await ApplicationUserService.ToggleResetPassword(currentUser.Id);
                }
            }
        }
    }
    private async Task CreateNewProject()
    {
        Project? newProject = await ProjectService.CreateNewProjectAsync("New unnamed Project");

        if (newProject is not null)
        {
            Navigator.NavigateTo($"/Project/{newProject.Id}");
        }
    }

    private async Task OpenDialogChangePassword(){
        IDialogReference dialog = await this.DialogService.ShowDialogAsync<Dialogs.ChangePassword>(new DialogParameters { });
    }

    private async Task<bool> CheckResetPassword(){
        ApplicationUser? currentUser = await GetCurrentUser();
        if (currentUser is null) return false;
        else return await ApplicationUserService.CheckResetPassword(currentUser.Id);
    }

    private async Task<ApplicationUser?> GetCurrentUser(){
        return SessionService.GetApplicationUserAsync().Result;
    }
}

