@typeparam TEntity where TEntity : class
@implements IDisposable

<div id="SaveIcon"><FluentIcon Value="@GetIcon" Color="@Color.Accent" @key=@saveStatus /></div>
@switch(saveStatus)
{
    case SaveStatus.Saved:
        <FluentTooltip Anchor="SaveIcon" Position=TooltipPosition.Right>All Changes Saved.</FluentTooltip>
        break;
    case SaveStatus.Saving:
        <FluentTooltip Anchor="SaveIcon" Position=TooltipPosition.Right>Saving Changes…</FluentTooltip>
        break;
    case SaveStatus.Unsaved:
        <FluentTooltip Anchor="SaveIcon" Position=TooltipPosition.Right>Unsaved changes…</FluentTooltip>
        break;
}

@code {

    [Parameter, EditorRequired]
    public required TEntity Entity { get; set; }

    [Parameter, EditorRequired]
    public required IDataService<TEntity> SaveService { get; set; } = default!;

    private System.Threading.Timer? saveTimer;
    private SaveStatus saveStatus = SaveStatus.Saved;


    public void ScheduleAutoSave()
    {
        saveStatus = SaveStatus.Unsaved;
        saveTimer?.Dispose();
        saveTimer = new System.Threading.Timer(async _ =>
        {
            await InvokeAsync(SaveAsync);
        }, null, TimeSpan.FromSeconds(2), Timeout.InfiniteTimeSpan);
    }

    private async void SaveAsync()
    {
        saveStatus = SaveStatus.Saving;
        StateHasChanged();
        await SaveService.Save(Entity);
        saveStatus = SaveStatus.Saved;
        StateHasChanged();
    }

    private Icon GetIcon => saveStatus switch
    {
        SaveStatus.Saved => new Icons.Regular.Size24.CloudCheckmark(),
        SaveStatus.Saving => new Icons.Regular.Size24.CloudSync(),
        SaveStatus.Unsaved => new Icons.Regular.Size24.CloudEdit(),
        _ => new Icons.Regular.Size24.CloudCheckmark(),
    };

    public void Dispose()
    {
        if (saveTimer is not null)
        {
            saveTimer.Dispose();
        }
    }

    private enum SaveStatus
    {
        Saved,
        Saving,
        Unsaved,
    }
}
