@using System.ComponentModel.DataAnnotations
@implements IDialogContentComponent<string>
@inject IJSRuntime JSRuntime
@inject IToastService ToastService
@rendermode InteractiveServer



<FluentDialogHeader ShowDismiss="true">
    <h3>New User Password</h3>
</FluentDialogHeader>


<FluentDialogBody>
    <FluentStack Orientation="Orientation.Vertical">
        <p class="margin-bottom-0">This is the new password of the user:</p>
        <FluentStack Orientation="Orientation.Horizontal">
            <FluentTextField ReadOnly="true" @bind-Value="Content" class="fullwidth"></FluentTextField>
            <FluentButton OnClick="@(() => CopyLinkToClipboard(Content))" IconStart=@(new Icons.Regular.Size20.Copy())/>
        </FluentStack>
        <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center" class="margin-top-10">
            <FluentIcon Value="@(new Icons.Regular.Size24.Info())" Class="min-width-24"/>
            <p class="margin-bottom-0">Send the new password to the user via a secure communication channel. Prompt the user to change the new password immediately after logging in.</p>
        </FluentStack>
    </FluentStack>
</FluentDialogBody>


<FluentDialogFooter>
    <FluentSpacer/>
    <FluentButton OnClick=CloseDialog Appearance="Appearance.Accent">OK</FluentButton>
</FluentDialogFooter>


@code
{
    [Parameter]
    public string Content { get; set; } = default!;

    [CascadingParameter]
    public FluentDialog? Dialog { get; set; }

    private async Task CloseDialog()
    {
        await Dialog!.CloseAsync();
    }

    private async Task CopyLinkToClipboard(string? link)
    {
        if(link != null)
        {
            await JSRuntime.InvokeVoidAsync("navigator.clipboard.writeText", link);
            ToastService.ShowSuccess("Link copied to clipboard");
        }
        else
        {
            ToastService.ShowError("Failed to copy link");
        }
    }

}



