@implements IDialogContentComponent<string>
@rendermode InteractiveServer

<FluentDialogHeader ShowDismiss="true">
    <h3>CHANGE YOUR PASSWORD!</h3>
</FluentDialogHeader>

<FluentDialogBody>
    <FluentStack Orientation="Orientation.Vertical">
        <p>For security reasons, please change the password provided by your administrator right away!
            <br />
        You can do this
            <FluentAnchor Href="Account/Manage/ChangePassword" Appearance="Appearance.Hypertext">here</FluentAnchor>.
        </p>
    </FluentStack>
</FluentDialogBody>

<FluentDialogFooter>
    <FluentSpacer />
    <FluentButton Appearance="Appearance.Outline" OnClick="@CancelDialog">Cancel</FluentButton>
</FluentDialogFooter>


@code
{
    [Parameter]
    public string Content { get; set; } = default!;

    [CascadingParameter]
    public FluentDialog? Dialog { get; set; }

    private async Task CloseDialog()
    {
        await Dialog!.CloseAsync();
    }
    private async Task CancelDialog()
    {
        await Dialog!.CancelAsync();
    }
}