@using System.ComponentModel.DataAnnotations
@implements IDialogContentComponent<InviteUser>
@rendermode InteractiveServer

<FluentDialogHeader ShowDismiss="true">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Value="@(new Icons.Regular.Size28.PersonAdd())" />
        <h3>Invite new user</h3>
    </FluentStack>
</FluentDialogHeader>


<FluentDialogBody>
    <EditForm Model="Input" method="post" FormName="addUser">
        <DataAnnotationsValidator />
        <FluentTextField Name="Input.Email" TextFieldType="TextFieldType.Email" @bind-Value=Input.Email Placeholder="example@thi.de" Label="Enter email address:" Required="true" />
        <FluentValidationMessage For="() => Input.Email" class="text-danger" />
    </EditForm>
 
</FluentDialogBody>


<FluentDialogFooter>
    <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent">OK</FluentButton>
</FluentDialogFooter>


@code {
    [Parameter]
    public InviteUser Content { get; set; } = default!;

    [CascadingParameter]
    public FluentDialog? Dialog { get; set; }

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new InputModel(); 

    public class InputModel
    {
        [Required]
        [EmailAddress]
        public string? Email;
    }

    @* public InviteUser Content { get; set; } = new InviteUser();  *@

    @* public sealed class InviteUser
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = "";
    }
  *@
    @* public async Task createLink()
    {
        await DialogService.ShowSuccessAsync($"Email sent to: {Input.Email}", "Success");
    }

    public async Task invalidSubmit()
    {

    }

    public async Task submit()
    {
        await DialogService.ShowSuccessAsync($"Email sent to: {Input.Email}", "Success");
    } *@

}
