@using System.ComponentModel.DataAnnotations
@using tara_tool.Components.Account.Shared

@implements IDialogContentComponent<string>

@rendermode InteractiveServer

@inject PendingRegistrationService PendingRegistrationService
@inject UserManager<ApplicationUser> UserManager
@inject IMessageService MessageService
@inject IToastService ToastService


<FluentDialogHeader ShowDismiss="true">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Value="@(new Icons.Regular.Size28.PersonAdd())" />
        <h3>Invite new user</h3>
    </FluentStack>
</FluentDialogHeader>


<EditForm Model="Input" method="post" FormName="addUser" OnValidSubmit="submit">
    <FluentDialogBody>
        <DataAnnotationsValidator />
        <div class="center">
        </div>
        <FluentTextField Name="Input.Email" TextFieldType="TextFieldType.Email" @bind-Value=Input.Email Placeholder="example@thi.de" Label="Enter email address:" Required="true" Immediate=true Autofocus="true"/>
        <FluentValidationMessage For="() => Input.Email" class="text-danger" />
        <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center" Class="margin-top-10">
            <FluentIcon Value="@(new Icons.Regular.Size24.Info())" Class="min-width-24"/> @*Class needed for proper sizing*@
            <p class="margin-bottom-0">The email address is used for verification. The invited user must enter the same email address when registering.</p>
        </FluentStack>
    </FluentDialogBody>


    <FluentDialogFooter>
        <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent">OK</FluentButton>
    </FluentDialogFooter>
</EditForm>


@code {
    [Parameter]
    public string Content { get; set; } = default!;

    [CascadingParameter]
    public FluentDialog? Dialog { get; set; }

    private string? errorMessage;

    private InputModel Input { get; set; } = new InputModel();

    public class InputModel
    {
        [Required]
        [EmailAddress]
        public string? Email;
    }

    public async Task invalidSubmit()
    {

    }

    public async Task submit()
    {
        if (!string.IsNullOrWhiteSpace(Input.Email))
        {
            if (await PendingRegistrationService.EmailUsed(Input.Email) || (await UserManager.FindByEmailAsync(Input.Email) != null))
            {
                Console.WriteLine("email already used");
                errorMessage = "Email already used.";
                ToastService.ShowError(errorMessage);
            }
            else
            {
                Content = Input.Email;
                await Dialog!.CloseAsync(Content);
            }
        }
    }

}
